:root {
    --redColor: rgb(202, 53, 53);
    --Light: #e4e4e4;
    --Dark: #353535;
    --selected: rgb(172,172,172);
}

body {
    color: var(--Dark);
    overflow-x: hidden;
}

table th {
    font-size: .8rem;
}

table tr td {
    transition: all .3s ease-in-out;
    padding: .5rem !important;
}

table tr td:hover {
    background: var(--selected);
    cursor: pointer;
}

.today {
    background: #17a2b8 !important;
}

.selected {
    background: var(--selected) !important;
}

.selected-red {
    background: rgb(255, 153, 153) !important;
}

#month {
    width: 40%;
}

#year {
    width: 25%;
}

.calendarContent, #Summary, #SelectMenu {
    min-height: 75vh;
    padding-top: .8rem;
    margin-bottom: 1.2rem;
}

#Summary {
    margin-bottom: 5rem;
}

.table-cover {
    height: 46vh;
    margin-bottom: 1.2rem;
}

.SelectMenu-h, .Summary-h {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: .5rem;
}

.list-group-item {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.list-group-item:hover {
    background: var(--selected);
}

.bg-red {
    background: var(--redColor);
}

#summaryForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: .8rem;
}

.Data {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}

.MonthDay, .HourMin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-summary-label {
    margin: 0 .8rem 0 0 !important;
}

.form-control-summary {
    border: 0;
    width: 30%;
    text-align: center;
}

textarea {
    resize: none !important;
}

#summaryForm input[type="submit"] {
    margin-top: 4rem;
}

#summaryForm-day, #summaryForm-hour, #summaryForm-min {
    width: 10%;
}

fieldset {
    margin-bottom: .8rem !important;
}

footer, header {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: var(--Dark);
    text-align: center;
    color: var(--Light);
    height: 10vh;
}

header h2 {
    font-size: 22px;
}

@media (min-width: 576px) {
    .calendarContent, #SelectMenu, #Summary {
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        min-height: 77.8vh;
    }

    #Summary {
        margin-bottom: 7rem;
        padding-top: 1.5rem;
    }
}